@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.book.font-family-1 {
  font-family: 'Nunito', sans-serif;
 }
 
.summary {
  font-family: 'Nunito', sans-serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.small-caps {
  font-variant: small-caps;
}

div.csl-entry{
  margin-top: 15px;
  margin-bottom: 15px;
}

div.csl-block{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  font-weight: normal;
}